* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: inline-block;
  text-decoration: none;
}

.subtitle-left {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;
  padding-left: 103px;
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fff;
    opacity: 0.5;
    left: 0;
    top: 50%;
  }
}